<article class="post">
    <div class="title">
        <a href='/post/{{id}}'>{{title}}</a>
        <span>Posted by {{user.username}} on {{format_date created_at}}</span>
        <div>
            <p>{{ content }}</p>
        </div>
    </div>
    <div class="meta">
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>