    <div class='card' onclick='location.href="/post/{{id}}"'>
        <img src='{{ avatar }}'
            class='card-img-top'>
        <div class='card-body'>
            <h4 class="title">{{title}}</h4>
            <p class='card-text'>{{ birthDate }} - {{ passingDate }}</p>
        </div>
    </div>
