<div class='single-photo-box'>
    <img class='single-photo' src='{{ avatar }}'/> 
</div>
<div class='single-post-box'>
    <div class='single-title'> {{ title }} </div>
    <div class='single-dates'> {{ format_date birthDate }} - {{ format_date passingDate }}</div>
    <div class='single-content'> {{ content }}</div>
</div>