<a class='back-button' href="/dashboard"> &larr; Back to dashboard</a>
<article class='edit-box'>
    <h2 id='section-head'>
        Edit Post
    </h2>
    <form action="/dashboard/edit/{{post.id}}" class="edit-post-form" class="new-post-form" method="POST" enctype="multipart/form-data">
        <div>
            <input name="title" type="text" value="{{post.title}}" />
        </div>
        <div>
            <label for="birthDate">Birth Date</label>
            <input type="date" id="birthDate" name="birthDate" value="{{post.birthDate}}" />
        </div>
        <div>
            <label for="passingDate">Date of Passing</label>
            <input type="date" id="passingDate" name="passingDate" value="{{post.passingDate}}" />
        </div>
        <div>
            <label for="image">Please Upload a Photo</label>
            <input class='file-input' type="file" name="avatar" value="{{post.avatar}}" />
        </div>
        <div>
            <textarea name="body" type="text" >{{post.content}}</textarea>
        </div>
        <div>
            <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
        </div>
        <button class=' save-btn btn' type="submit">Save Post</button>
        <button type="button" class="delete-post-btn btn">Delete Post</button>
    </form>
</article>

<form class="comment-form">
    <div>
        <textarea class='comment-box' name="comment-body"></textarea>
    </div>

    <div>
        <button class='btn' type="submit">Add Comment</button>
    </div>
</form>

{{> comments post.comments}}

{{!-- <script src="/javascript/edit-post.js"></script> --}}
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>